html,body {
    padding:0;
    margin:0;
    height:100%;
    width: 100%;
    background-color: #EAEDED;
}

table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}

table, th, td {
  border: 1px solid rgb(170, 160, 160);
  font-size: 0.95em
}

th {
  background-color: rgb(70, 75, 69);
  color: white;
} 

th, td {
  padding: 0.3em
}

tr:nth-child(even) {background-color: #f2f2f2;}

.rbody{
    width:100%;
    height: 100%;
    background-color: #EAEDED;
}

.title{
  display: "flex";
  align-items: "center";
  justify-content: "center";
  background-color: "light-blue"
}

.Grid-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
}

.Grid-item {
  display: flex;
  justify-content: center;
  align-items:center;
  border: solid 1px;
  font-size: 1.5em;
  font-weight: bold;
}

.icons:hover {
  color: rgb(182, 21, 182)
}

hr {
  border:none;
  height: 5px;
	height: 10px;
	margin-top: 0;
	border-bottom: 1px solid #1f1209;
	box-shadow: 0 10px 10px -4px #333;
}

.container {
	text-align: center;
	vertical-align: middle;
	overflow: hidden;
}
.animation-container {
	display: inline-block;
}

.example-enter {
    opacity: 0;
    transform:   translate(-250px,0);
    transform: translate3d(-250px,0,0);
}
.example-enter.example-enter-active {
	opacity: 1;
	transition: opacity 1s ease;
	transform:   translate(0,0);
	transform: translate3d(0,0,0);
	transition-property: transform, opacity;
	transition-duration: 300ms;
	transition-timing-function: cubic-bezier(0.175, 0.665, 0.320, 1), linear;
}
.example-leave {
	opacity: 1;
	transform:   translate(0,0,0);
	transform: translate3d(0,0,0);
  transition-property: transform, opacity;
	transition-duration: 300ms;
	transition-timing-function: cubic-bezier(0.175, 0.665, 0.320, 1), linear;
}
.example-leave.example-leave-active {
	opacity: 0;
	transform:   translate(250px,0);
	transform: translate3d(250px,0,0);
}

